<div class="contianer p-5">
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="form-group mb-3">
                <label for="title" class="form-label">Content</label>
                <textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 m-auto">
            <div class="form-group mb-3">
                <button class="btn btn-success">Save Post</button>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-12">
            <app-post-list></app-post-list>
        </div>
    </div>
</div>