<div class="contianer mt-5">
  <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
    <div class="row">
      <div class="col-md-12 m-auto">
        <div class="form-group mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="title"
            id="title"
            class="form-control"
            formControlName="title"
          />
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 m-auto">
        <div class="form-group mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea
            name=""
            id="content"
            cols="30"
            rows="10"
            class="form-control"
           formControlName="content"
          ></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 m-auto">
        <div class="form-group mb-3">
          <button class="btn btn-success">
            Save Post
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
